<app-menu-title></app-menu-title>
<app-game-results-carousel></app-game-results-carousel>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      Id={{lastArticle?.id}}
      photoCover={{lastArticle?.photoCover}}
      cardTitle={{lastArticle?.title}}
      cardDescription={{lastArticle?.description}}
    >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card *ngFor="let article of lastThreeArticles"
      [Id]="article.id"
      [cardTitle]="article.title"
      [photoCover]="article.photoCover">
  </app-small-card>
  </div>
</div>
